.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: 12%;
    padding-block: 80px; */
    padding: 80px 11.6vw;
    /* padding: 80px 168px; */
    width: 100%;
    height: auto;
    flex-flow: row wrap;
}

.footer__col1 {
    text-align: center;
}

.footer__col1__logo-container {

}

.footer__col1__logo-container>img {
    width: 8rem;
    margin-bottom: 1rem;
}

.footer__col1__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer__col2 {
    display: flex;
    /* gap: 8vw; */
    gap: min(1rem);
    flex-flow: row wrap;
    justify-content: space-between;
    /* flex-grow: 1; */
    max-width: 700px;
}

.footer__col2__content {
    width: 25%;
    /* min-width: 200px; */
    /* flex-grow: 1; */
}

.footer__col2__content__heading {
    font-weight: 700;
    margin-bottom: clamp(0.3rem, 1.11vw, 1rem);
}

.footer__col2__content__links {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: clamp(0.3rem, 1.11vw, 1rem);
}

.footer__col2__content__links>a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.footer__col2__content__links>a:hover {
    text-decoration: underline;
}

@media(max-width: 63.8em) {
    .footer {
        padding: 5%;
        gap: 1.5rem;
    }

    .footer__col1 {
        /* height: min-content; */
        width: 100%;
    }

    .footer__col2 {
        flex-grow: 1;
    }

    .footer__col2__content {
        min-width: 172px;
    }
}