.navbar {
    width: 100%;
    min-height: 65px;
    background-color: var(--nav-bg-color);
    font-size: 0.86rem;
    position: relative;
    justify-content: center;
}

.navbar, .navbar__nav-links, .navbar__logo-container {
    display: flex;
    align-items: center;
}

.navbar__logo-container {
    color: white;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.navbar__nav-links {
    height: inherit;
    justify-self: center;
}

.nav-links__menu-wrapper {
    position: relative;
}


.nav-menu {
    position: absolute;
    display: none;
}

.nav-links__link {
    border: none;
    background-color: transparent;
    color: white;
    padding: 1rem clamp(1.2rem, 2.77vw, 2.5rem);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    font-family: inherit;
}

.nav-links__link:hover {
    color: #9977D4;
}

.navlinks__get-demo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

.nav_toggle {
    display: none;
}

@media(max-width: 47.8em) {

    .navbar {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        height: 65px;
    }

    .nav_toggle {
        display: block;
        position: absolute;
        right: 5%;
        top: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        filter: invert(1);
    }

    input.nav_toggle {
        z-index: 10;
        opacity: 0;
    }

    span.nav_toggle {
        background: url(../images/iconMenu.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: background 150ms ease-in-out;
        z-index: 5;
        filter: brightness(10);
    }

    input.nav_toggle:focus~span, 
    input.nav_toggle:hover~span {
        filter: brightness(20);
    }

    input.nav_toggle:checked {
        position: fixed;
    }

    input.nav_toggle:checked~span {
        background: url(../images/iconCloseMenu.svg);
        background-size: cover;
        background-repeat: no-repeat;
        position: fixed;
    }

    input.nav_toggle:checked~.navbar__nav-links {
        animation: nav-slide 550ms ease-out;
        animation-fill-mode: forwards;
    }

    .navbar__logo-container {
        top: 1.8rem;
    }

    .navbar__logo-container>img {
        width: 5rem;
        height: auto;
    }

    .navbar__nav-links {
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
        height: 100vh;
        background-color: var(--nav-bg-color);
        overflow-y: scroll;
        padding: 4rem 5% 1rem 5%;
        z-index: 4;
        position: fixed;
        top: 0;
        left: 150vw;
        overflow-y: scroll;
        scrollbar-width: none;
        box-shadow: 20vw 0 0 #00000078;
    }

    .navbar__nav-links::-webkit-scrollbar {
        display: none;
    }
    @keyframes nav-slide {
        0% {
            display: flex;
        }

        10% {
            left: 100vw;
        }

        60% {
            left: 0vw;
        }

        80% {
            left: 10vw;
        }

        100% {
            left: 0vw;
        }
    }

    .nav-links__link{
        width: 100%;
        padding-left: 0;
    }

    .navlinks__get-demo{
        width: 100%;
        padding-block: 1rem;
        text-align: center;
        position: relative;
        top: auto;
        right: auto;
        height: auto;
        margin-top: 2rem;
    }
}